{% extends "SkateApp/base.html" %}
{% load static %}

{% block title %}Editar Usuario{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <h2 class="titulo-detalle text-center mb-4">Editar Usuario</h2>

        <div class="col-md-7">
            <div class="card shadow-lg">
                <div class="card-header"
                     style="background-color: rgba(75, 12, 59); border-bottom: 3px solid rgba(255, 196, 0, 0.774);">
                    <h4 class="mb-0 titulo-filtros"
                        style="text-shadow: 2px 2px 4px rgba(255,255,255,0.212);">
                        Editar datos de {{ usuario.username }}
                    </h4>
                </div>

                <div class="card-body p-4" style="background-color: rgba(226,178,216,0.095);">
                    <form method="POST">
                        {% csrf_token %}

                        {% for field in form %}
                            <div class="mb-3">
                                <label class="form-label fw-bold descripcion-producto-2">
                                    {{ field.label }}
                                </label>
                                {{ field }}
                                {% if field.errors %}
                                    <div class="text-danger small">{{ field.errors }}</div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="d-grid gap-3 mt-4">
                            <button type="submit" class="btn btn-success btn-lg">Guardar Cambios</button>
                            <a href="{% url 'SkateApp:gestionar_usuarios' %}" class="btn btn-outline-dark">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}